[Unit]
Description=Ping Pong Pi web application
After=network.target
Requires=pingpongpi.service

[Service]
WorkingDirectory=/home/pi/pingpongpi/web
ExecStart=gunicorn3 -b 0.0.0.0 -w 1 pingpongpiweb:app --log-syslog
Restart=always

[Install]
WantedBy=multi-user.target