[Unit]
Description=Ping Pong Pi web application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/pi/pingpong/web
ExecStart=gunicorn -b localhost:8000 -w 4 pingpongpi:app
Restart=always

[Install]
WantedBy=multi-user.target