[Unit]
Description=Ping Pong Pi web application
After=network.target

[Service]
WorkingDirectory=/home/pi/pingpongpi/web
ExecStart=gunicorn3 -b 0.0.0.0:8000 -w 4 pingpongpiweb:app
Restart=always

[Install]
WantedBy=multi-user.target